VITE_SUPABASE_URL=https://wcpcbusobpnkgvjybgrz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndjcGNidXNvYnBua2d2anliZ3J6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNTQwMjcsImV4cCI6MjA4NzYzMDAyN30.-XTQ6vthmNN2pJfF-0A6Fx1VkmjFgVOX71be_BwS8rI
